<header>
  <nav>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </nav>
</header>
<div>
  <mat-card *ngFor="let workoutSessionModel of workoutSessionModels$|async">
    <mat-card-title>{{workoutSessionModel.name}}</mat-card-title>
    <mat-card-content>
      <div *ngFor="let workout of workoutSessionModel.workouts">
        <p>{{workout.title}}</p>
        <p>{{workout.seriesNumber}} series</p>
        <div>
          <p>objectifs:</p>
          <ul>
            <li>{{workout.objectifs.weight}}</li>
            <li>{{workout.objectifs.rest}}</li>
            <li>{{workout.objectifs.reps}}</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
