.container {
  :hover {
    background-color: #f3f3f6;
  }
}

mat-card {
  margin: 5px 0;

}

.content {
  display: flex;
  padding-top: 5px;
}

.title {
  margin-top: 5px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;

  .delete {
    cursor: pointer;
  }

}

.models {
  text-align: center;
  flex: 4
}

.update {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;

  span {
    cursor: pointer;
  }
}
.edit{
  margin-left: 5px;
}

.select{
  cursor: pointer;
}

.comments {
  text-align: center;
  flex: 2;
  font-style: italic;
}


.title-container {
  display: flex;
  font-weight: bold;


  .workout-title {
    flex: 2;
    text-align: center;
  }

  .series-title {
    flex: 1;
    text-align: center;

  }

  .objectifs-title {
    text-align: center;
    flex: 3;
  }

}
