mat-card {
  margin: 5px 0;
}

.container {
  display: flex;
  padding-top: 5px;
}

.title {
  margin-top: 5px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;

  .delete {
    cursor: pointer;
  }

}

.models {
  text-align: center;
  flex: 4
}

.edit {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  span {
    cursor: pointer;
  }
}

.comments {
  text-align: center;
  flex: 2;
  font-style: italic;
}


.title-container {
  display: flex;
  font-weight: bold;


  .workout-title {
    flex: 2;
    text-align: center;
  }

  .series-title {
    flex: 1;
    text-align: center;

  }

  .objectifs-title {
    text-align: center;
    flex: 3;
  }

}
