.container {
  display: flex;
  padding-top: 5px;
}

.title {
  padding: 0 5px;
}

.models {

  flex: 4
}


.comments {
  flex: 2;
}


.title-container {
  display: flex;


  .workout-title {
    flex: 2;
  }

  .series-title {
    flex: 1;
  }

  .objectifs-title {
    flex: 3;
  }

}
