.container {
  padding: 20px;
  min-height: 600px;
}

.model {
  display: flex;

  .serie-form {
    max-width: 100%;
  }

  .serieNumber {
    max-width: 100%;
  }

  .name {
    max-width: 100%;
  }

  .workout-number {
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 22px 0;
  }

  .workout-delete {
    min-width: 48px;
    padding-bottom: 22px;
    align-self: center;

  }
}

.workouts {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
  }

  .workouts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;

    button {
      width: 40px;
      height: 40px;
    }

  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .title {
    flex: 2
  }

  .comments {
    flex: 3;
    width: 100%;
  }
}

.name {
  margin-right: 5px;
}


.delete {
  width: 30px;
  height: 30px;
}

.footer{
  display: flex;
  justify-content: space-between;
}
